html {
    font-family: courier;
}

.block {
    font-size: 1.5rem;
    color: #2C3E50;
    background-color: #ECF0F1;
    text-align: center;
    border: 1px solid #2C3E50;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    margin: 0px 5px 0px 5px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.block * {
    vertical-align: middle;
}

.has-non-terminals {
}

.non-terminal {
    display: inline-block;
    background: white;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    margin: 0px 5px 0px 5px;
}
